<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ots.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Ots.Properties.Settings>
            <setting name="Ots_OtsWebService_OTSWebService" serializeAs="String">
                <value>http://ots.oceaninformatics.com/OTS/OTSService.asmx</value>
            </setting>
        </Ots.Properties.Settings>
    </applicationSettings>
</configuration>