<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings"
                      type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OTSControls.Properties.Settings"
                     type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                     allowExeDefinition="MachineToLocalUser"
                     requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings"
                      type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OTSControls.Properties.Settings"
                     type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                     requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OTSControls.Properties.Settings>
            <setting name="PaneWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProxyUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="OTSUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="OTSPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="OTSDomain" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyDomain" serializeAs="String">
                <value />
            </setting>
            <setting name="OTSAuthenticationType" serializeAs="String">
                <value />
            </setting>
        </OTSControls.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <OTSControls.Properties.Settings>
            <setting name="OTSControls_OTSServer_OTSWebServiceLocalVS" serializeAs="String">
                <value>http://localhost/OTSWebService/OTSService.asmx</value>
            </setting>
            <setting name="OTSControls_OTSServer_OTSWebServiceLocal" serializeAs="String">
                <value>http://localhost/OTS/OTSService.asmx</value>
            </setting>
            <setting name="OTSControls_OTSServer_OTSWebService" serializeAs="String">
                <value>http://localhost:3096/OTSWebService/OTSService.asmx</value>
            </setting>
            <setting name="OTSControls_OTSServer_OTSWebServiceRemote" serializeAs="String">
                <value>http://ots.oceaninformatics.com/OTS/OTSService.asmx</value>
            </setting>
        </OTSControls.Properties.Settings>
    </applicationSettings>
</configuration>